/* GENERAL SETTINGS */
:root {
    /* Colors */
    --dusk-1: hsl(0, 0%, 90%);
    --dusk-2: hsl(0, 0%, 80%);
    --dusk-3: hsl(0, 0%, 70%);
    --dusk-4: hsl(0, 0%, 60%);
    --dusk-5: hsl(0, 0%, 50%);
    --dusk-6: hsl(0, 0%, 40%);
    --dusk-7: hsl(0, 0%, 30%);
    --dusk-8: hsl(0, 0%, 20%);

    --font-size-h1: 2rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.125rem;
    --font-size-h4: 0.75rem;
    --font-size-h5: 0.5rem;
    --font-size-h6: 0.333rem;
    --font-size-p: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dusk-8);
}

body {
    font-family: sans-serif;
    background-color: #fff;
    color-scheme: light dark;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}

p {
    font-size: var(--font-size-p);
}

/* MAIN CODE STARTS HERE */

#header__button {
    background-color: var(--dusk-5);
    color: var(--dusk-1); 
    padding: 10px 20px;
    border: 1px solid var(--dusk-6);
    border-radius: 5px; 
    font-size: 16px;
}

.image {
    width: 38.375rem;
    height: 34.25rem;
    flex-shrink: 0;
    border-radius: 1rem;
    border: 1px solid #333;
    background: url('<path-to-image>') lightgray 50% / cover no-repeat;
}

.main__countdown--circle {
    font-size: 1.5rem;
}

.body__container {
    background-color: var(--dusk-1);
    border: solid 1px var(--dusk-8);
    margin: 3rem;
    padding: 2rem;
    border-radius: 1rem;
    width: 60rem;
    margin: 3rem auto;
}

header {
    text-align: center;
    margin: 0 auto;
}

header button {
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    margin-top: 1rem;
}

.header__youWin {
    display: none;
    height: 7rem;
    background-color: pink;
}

.header__youLoose {
    display: none;
    width: 20rem;
    height: 7rem;
    background-color: pink;
    margin: 1rem;
}

main {
    display: flex;
    width: 60rem;
    margin: 0 auto;
    margin-top: 1rem;
}

.main__hangMan {
    width: 30rem;
    height: 30rem;
    border: solid 1px var(--dusk-8);
    border-radius: 0.5rem;
}

.main--container {
    width: 30rem;
    height: 30rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main__randomWord {
    width: 20rem;
    text-align: center;
    letter-spacing: 1rem;
    font-size: var(--font-size-h1);
    font-weight: 600;
}

#inputText {
    padding: 0.5rem;
    margin-right: 0.5rem;
    width: 15rem;
}

#submitButton {
    padding: 0.5rem;
    margin-left: 0.5rem;
}

.main__wrongContainer {
    width: 20rem;
    height: 5rem;
    display: flex;
    align-items: center;
    border: solid 1px var(--dusk-8);
    border-radius: 0.5rem;
}

.main__wrongUsedWords {
    letter-spacing: 0.5rem;
    font-size: var(--font-size-p);
    font-weight: 600;
    display: flex;
    width: 100%;
    justify-content: center;
}

.main__countdown {
    align-self: flex-end;
    margin-right: 2rem;
    display: flex;
}

.main__countdown--text {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: var(--font-size-p);
    margin-right: 0.5rem;
}