/* GENERAL SETTINGS */
:root {
    /* Colors */
    --dusk-1: hsl(0, 0%, 90%);
    --dusk-2: hsl(0, 0%, 80%);
    --dusk-3: hsl(0, 0%, 70%);
    --dusk-4: hsl(0, 0%, 60%);
    --dusk-5: hsl(0, 0%, 50%);
    --dusk-6: hsl(0, 0%, 40%);
    --dusk-7: hsl(0, 0%, 30%);
    --dusk-8: hsl(0, 0%, 20%);
    --enviro: hsl(120, 100%, 20%);

    --font-size-h1: 2rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.125rem;
    --font-size-h4: 0.75rem;
    --font-size-h5: 0.5rem;
    --font-size-h6: 0.333rem;
    --font-size-p: 1rem;
}

* {
    box-sizing: border-box;
    color: var(--dusk-8);
    margin: 0;
    padding: 0;
}

/* TYPOGRAPHY */
body {
    background-color: #fff;
    color-scheme: light dark;
    font-family: sans-serif;
    padding: 50px;
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}

p {
    font-size: var(--font-size-p);
}

/* HEADER */
header {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px;
}

#header__button {
    background-color: var(--dusk-5);
    border: 1px solid var(--dusk-6);
    border-radius: 0.5rem;
    color: var(--dusk-1);
    font-size: var(--font-size-p);
    padding: 10px 20px;
}

/* IMAGE */
.image {
    background: url('<path-to-image>') lightgray 50% / cover no-repeat;
    border: 1px solid var(--dusk-8);
    border-radius: 0.5;
    flex-shrink: 0;
    height: 34.25rem;
    width: 38.375rem;
}

/* BODY CONTAINER */
.body__container {
    display: flex;
    flex-direction: column;
    background-color: var(--dusk-1);
    border: solid 1px var(--dusk-8);
    border-radius: 1rem;
    margin: 3rem auto;
    padding: 2rem;
    max-width: auto;
}

/* YOU WIN AND YOU LOSE */
.header__youLoose {
    background-color: pink;
    display: none;
    height: 7rem;
    margin: 1rem;
    width: 20rem;
}

.header__youWin {
    background-color: pink;
    display: none;
    height: 7rem;
}

/* MAIN CONTAINER */
.main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

.main--container {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    padding: 4rem;
    background-color: var(--dusk-4);
    gap: 20px; 
    border-radius: 0.5rem;
}

.main__hangMan {
    border: solid 1px var(--dusk-8);
    border-radius: 0.5rem;
    display: flex;
    height: 30rem;
    justify-content: space-between;
    width: 100%;
}

.main__randomWord {
    font-size: var(--font-size-h1);
    font-weight: 600;
    letter-spacing: 1rem;
    text-align: center;
    width: 20rem;
}

/* INPUT FIELDS */
#inputText {
    border: 1px solid var(--dusk-8);
    border-radius: 0.5rem;
    font-size: var(--font-size-p);
    padding: 0.5rem 1.5rem;
    width: 15rem;
}

#submitButton {
    background-color: var(--enviro);
    border: 1px solid var(--dusk-8);
    border-radius: 0.5rem;
    color: var(--dusk-1);
    font-size: var(--font-size-p);
    padding: 0.5rem 1.5rem;
    transition: background-color 0.3s, color 0.3s;
}

#submitButton:hover {
    background-color: var(--dusk-8);
    color: var(--enviro);
}

/* WRONG WORDS CONTAINER */
.main__wrongContainer {
    align-items: center;
    border: solid 1px var(--dusk-8);
    border-radius: 0.5rem;
    display: flex;
    height: 5rem;
    width: 20rem;
}

.main__wrongUsedWords {
    display: flex;
    font-size: var(--font-size-p);
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.5rem;
    width: 100%;
}

/* COUNTDOWN */
.main__countdown {
    align-self: flex-end;
    display: flex;
    margin-right: 2rem;
}

.main__countdown--circle {
    font-size: var(--font-size-p);
}

.main__countdown--text {
    align-items: center;
    display: flex;
    font-size: var(--font-size-p);
    font-weight: 700;
}
